html, body, #app { height: 100%; margin: 0; padding: 0; }

input { box-sizing: border-box; width: 100%; }

.dialog--actions {
    display: flex;
    justify-content: space-between;
}

.dialog button {
    height: 5rem;
    min-width: 5rem;
    border-radius: 2rem;
}

.dialog h1 {
    text-align: center;
}

input {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.counter {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.life-input:first-child { transform: rotate(180deg); }

.life-input { flex-grow: 1; display: flex; align-items: center; }

.life-input--button { flex-grow: 1; background: none; height: 100%; width: 0; font-size: 5rem; border: none; }
.life-input--button:focus-visible { outline: none; }
.life-input--button:active { opacity: 0.7; }

.life-input--amount { font-size: 5rem; position: absolute; left: calc(50% - 4rem); width: 8rem; height: 8rem; border-radius: 4rem; display: flex; justify-content: center; align-items: center; }

.reset-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: #000;
    color: #fff;
    border: none;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
}
.reset-button:focus-visible { outline: none; }
.reset-button:active { opacity: 0.7; }
